<template id="kost-item">
    <div class="col col-6 kost-container mx-auto">
        <a href="pages/detail-kos.html" class="link-to-detail-kost">
            <div class="card kost-content">
                <div class="card-img-top kost-img-thumbnail-container">
                    <img src="assets/img/ngekost-aja-logo.png"
                        class="kost-img-thumbnail img-fluid" alt="photo1">
                </div>
                <div class="card-body">
                    <p class="nama-kost"></p>
                    <p class="harga-kost"></p>
                    <p class="alamat-kost"></p>
                    <div class="rating-kost">
                        <svg xmlns="http://www.w3.org/2000/svg" class="star-icon" viewBox="0 0 24 24"
                            fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd"
                                d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
                                clip-rule="evenodd" />
                        </svg>
                        <div class="rating-text">4.7 | 23 sewa</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</template>