body {
    background-color: white;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

main {
    margin-top: 5rem;
}

footer {
    background-color: #3081D0 !important;
    padding: 100px;
    text-align: center;
    color: white;
}