[submodule "frontend"]
	path = frontend
	url = https://github.com/ngekost-aja/Ngekost-Aja-WEB-Frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/ngekost-aja/Ngekost-Aja-Backend.git
