body {
    background-color: #FFF5C2;
    height: 1000px;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: #3081D0 !important;
    color: white;
    font-weight: bolder;
}

.nav-item {
    display: flex;
    justify-content: right;
}

#search-submit-btn {
    background-color: #F4F27E;
}

.txt-nav-wht {
    color: white;
}

main {
    margin-top: 5rem;
}

#gallery-photo-kost {
    height: 20rem;
}

.kost-images {
    height: 100%;
}

#main-photo {
    margin-right: .5rem;
}

#detail-info-kos {
    margin-right: 2rem;
}

#detail-info-kos, #pemesanan-sewa-kost {
    margin-top: 2rem;
}

#judul-kost {
    font-weight: 500;
}

#btn-simpan-dulu, #btn-sewa-sekarang {
    font-weight: bolder;
}

#btn-simpan-dulu {
    background-color: white;
    color: black;
    border-color: #3081D0;
    margin-bottom: .5rem;
}

#btn-sewa-sekarang {
    background-color: #F4F27E;
    color: black;
    border-color: #F4F27E;
}

#product-catalog {
    margin: 3rem 0rem 3rem;
}

.link-to-detail-kost {
    text-decoration: none;
}

.kost-content {
    height: 100%;
}

.judul-kost {
    font-weight: 500;
}

.alamat-kost {
    font-size: small;
}

.harga-kost {
    font-weight: bolder;
}

.rating-kost {
    display: flex;
}

.rating-text {
    margin-left: .5rem;
}

.star-icon {
    width: 1rem;
    align-items: center;
    color: #FFC400;
}

footer {
    background-color: #3081D0 !important;
    padding: 100px;
    text-align: center;
    color: white;
}