body {
    background-color: #FFF5C2;
}

nav {
    background-color: #3081D0 !important;
    color: white;
    font-weight: bolder;
}

.nav-item {
    display: flex;
    justify-content: right;
}

#search-submit-btn {
    background-color: #F4F27E;
}

.txt-nav-wht {
    color: white;
}