body {
    background-color: #FFF5C2;
    height: 1000px;
}

nav {
    background-color: #3081D0 !important;
    color: white;
    font-weight: bolder;
}

.nav-item {
    display: flex;
    justify-content: right;
}

#search-submit-btn {
    background-color: #F4F27E;
}

.txt-nav-wht {
    color: white;
}

main {
    margin-top: 2rem;
}

#product-catalog {
    margin: 3rem 0rem 3rem;
}

.catalog-row {
    margin: 1rem;
}

footer {
    background-color: #3081D0 !important;
    padding: 100px;
    text-align: center;
    color: white;
}