
body {
    background-color: rgb(244, 244, 244);
}
.form-inline {
    float: right;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    
}
.nav-item {
    display: flex;
    justify-content: right;
}
li {
    display: flex;
    align-items: right;
}