DATABASE_URL="mysql://user:password@localhost:3306/ngekost_aja"
DATABASE_USER="user"
DATABASE_PASSWORD="password"
DATABASE_NAME="ngekost_aja"
DATABASE_HOST="localhost"
DATABASE_PORT=3306
PORT=8000

NODE_ENV=development

JWT_SECRET=your_jwt_secret_here

API_KEY=your_api_key_here

WEB_FRONTEND_URL="http://localhost:3000"