<footer class="bg-black text-white px-5 pb-2 pt-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 style="color: var(--color-primary-yellow);">Ngekost Aja!</h3>
                <p>Platform marketplace kost yang memudahkan mahasiswa menemukan hunian ideal dan pemilik kost memasarkan properti mereka dengan cepat dan praktis.</p>
            </div>
            <div class="col">
                <h5>Layanan Pengguna</h5>
                <p>Pusat bantuan</p>
                <p>FAQ</p>
            </div>
            <div class="col">
                <h5>Hubungi kami</h5>
                <p>Kontak</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col text-center">
                Dikembangkan oleh <a href="https://github.com/FarrelAD" class="text-decoration-underline text-white fw-bold">Farrel Augusta Dinata</a> - 2024
            </div>
        </div>
    </div>
</footer>