body {
    background-color: white;
    height: 1000px;
    font-family: 'Poppins', sans-serif;
}


/* MAIN */

main {
    margin: 2rem 3rem 0 20rem;
    width: 100%;
}

#btn-plus-icon {
    width: 2rem;
}

#tambah-aset {
    background-color: #EDCD44;
}

#btn-tambah-aset {
    background-color:  rgb(49, 49, 49);
    color: white;
}

#aset-table {
    overflow-y: scroll;
    height: 70vh;
}

.aset-data:hover {
    background-color: lightgray;
    color: white;
    cursor: pointer;
}