body {
    background-color: white;
    height: 1000px;
    font-family: 'Poppins', sans-serif;
}


/* MAIN */

main {
    margin: 2rem 3rem 0 20rem;
    width: 100%;
}

#btn-plus-icon {
    width: 2rem;
}