* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-color: yellow;
}

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 450px;
    background: #222;
    padding: 20px 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
}

.login-form .form-title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0px 30px;
    color: #fff;
}

.login-form .form-input {
    margin: 10px 0px;
}

.login-form .form-input label {
    display: block;
    font-size: 15px;
    color: #fff;
    margin-bottom: 5px;
}

.login-form .form-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #888;
    font-size: 15px;
}
