:root {
    --color-primary-yellow: #EDCD44;
}


body {
    background-color: white;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

main {
    padding-top: 5rem;
    min-height: 100vh;
}
