body {
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('../img/ngekost-aja-logo-2.png'); /* Ganti dengan jalur yang benar */
    background-size: contain; /* Mengatur ukuran gambar agar menutupi seluruh layar */
    background-position: center; /* Menempatkan gambar di tengah */
    background-repeat: no-repeat; /* Mencegah pengulangan gambar */
    height: 100vh; /* Mengatur tinggi body agar 100% dari tinggi viewport */
    margin: 0; /* Menghapus margin default dari body */
    
}

.form-container {
    width: 100%;
    max-width: 400px;   
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-container .form-label {
    margin-bottom: 5px;
    font-weight: bold;
}
.form-container .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-container .form-check-input {
    margin-right: 10px;
}
.form-container .form-check-label {
    display: inline-block;
}
.form-container .btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
.form-container .btn:hover {
    background-color: #0056b3;
}
.form-container .form-text {
    margin-bottom: 15px;
    font-size: 12px;
    color: #6c757d;
}