body {
    background-color: white;
    height: 1000px;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: #EDCD44!important;
    font-weight: bolder;
}

.nav-item {
    display: flex;
    justify-content: right;
}

#search-submit-btn {
    background-color: black;
    color: white;
}

.txt-nav-blk {
    color: black;
}

#logo-on-navbar {
    width: 10rem;
}

main {
    margin-top: 5rem;
}

#product-catalog {
    margin: 3rem 0rem 3rem;
}

.catalog-row {
    margin: 1rem;
}

.link-to-detail-kost {
    text-decoration: none;
}

.kost-content {
    height: 100%;
}

.judul-kost {
    font-weight: 500;
}

.alamat-kost {
    font-size: small;
}

.harga-kost {
    font-weight: bolder;
}

.rating-kost {
    display: flex;
}

.rating-text {
    margin-left: .5rem;
}

.star-icon {
    width: 1rem;
    align-items: center;
    color: #FFC400;
}

footer {
    background-color: #3081D0 !important;
    padding: 100px;
    text-align: center;
    color: white;
}