body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: #EDCD44 !important;
    font-weight: bolder;
}

.nav-item {
    display: flex;
    justify-content: right;
}

#search-submit-btn {
    background-color: black;
    color: white;
}

.txt-nav-blk {
    color: black;
}

#logo-on-navbar {
    width: 10rem;
}

main {
    margin-top: 5rem;
}

.progress-bar-node {
    width: 2rem;
    height: 2rem;
}

#progress-bar-payment {
    width: 0%;
}

.form-stage {
    margin-top: 3rem;
    min-height: 25rem;
}

.form-content {
    margin: 1rem;
}

.btn-nav-form {
    margin-top: 1rem;
    right: 0;
}

#btn-back {
    margin-right: 1rem;
}

#btn-continue {
    margin-left: 1rem;
}

#form-step-2 {
    display: none;
}